### IntelliJ IDEA ###
.idea/
*.iml
out/

### Build output ###
target/
build/
*.class

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### Ignore all jars EXCEPT releases ###
*.jar
!release/*.jar

### IntelliJ / Artifacts / Metadata###
resources/META-INF/